body {
  margin: 0;
  padding: 0;
  color: rgba(25, 29, 34, 0.87); /* licorice */
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.fa,
.fab {
  font-size: 36px;
  display: inline-block;
  color: #8ead58; /*green*/
}
